/* #register-view {
    background-image: url(http://www.sushi.com/assets/images/How%20Sushi%20Plates%20Play%20an%20Important%20Role%20in%20Sushi%20Presentation.jpg);
    background-size: cover;
    width: 100%;
    height: 1100px;
} */